@import "../common/styles/sass/variables";
@import "../common/components/Button/Button.module";

.contactsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .fade {
    width: 100%;

    .contactsContainer {
      flex-direction: column;
      justify-content: flex-start;

      .form {
        margin-top: 30px;
        max-width: 540px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 50px;

        @media (max-width: 1196px) {
          max-width: 450px;
        }

        @media (max-width: 990px) {
          max-width: 330px;
        }

        @media (max-width: 768px) {
          max-width: 510px;
        }

        .input,
        .textarea {
          font-family: 'Poppins', sans-serif;
          font-size: 12px;
          border: 1px solid #4a4a4a;
          background-color: $bgSecondColor;
          color: #cbd2d9;
          font-weight: 400;
          line-height: 1.5;
          outline: none;
        }

        .input::placeholder,
        .textarea::placeholder {
          color: #6c757d;
          opacity: 1;
        }

        .input {
          padding: 5px 15px;
        }

        .textarea {
          min-height: 100px;
          padding: 15px;
        }

        .error {
          color: red;
        }

        .submitButton {
          @extend .Button;
          align-self: center;
        }
      }


    }
  }




}

