.mainBlock {
    min-height: 100vh;
    background-color: #ffd4f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    padding: 0 20px;
    row-gap: 20px;
}

.text {
    width: 300px;
    background-color: #f7f7f7;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: #f7f7f7;
}