@import '../common/styles/sass/variables.scss';

.footer {
  min-height: 200px;
  background-color: $bgSecondColor;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade {
  width: 100%;
}

.footerContainer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.socialNetworks {
  max-width: 350px;

  @media (max-width: 540px) {
    max-width: 300px;
  }

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.copyright {
  color: rgba(255, 255, 255, .5);
}