.projectsBlock {
    width: 100%;
    min-height: 100vh;
    background-color: #F1E2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #f7f7f7;
    margin-bottom: 50px;
}

.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}