.projectsBlock {
    width: 100%;
    height: 100vh;
    background-color: #F1E2FF;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}